*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  color: #fff;
}
.hero{
  position: relative;
  width: 100%;
  height: 400vh;
  /* background-color: #123847; */
  background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
}
nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 2em;
  letter-spacing: 2px;
  font-size: 60px;
  margin: 20px;
  color:white;
  height: 80px;
  width: 200px;
font-family:'amanda-black-font' ;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}
nav ul li a:hover{
  color: red;
}
.Description{
  margin-left: 8%;
  margin-top: 15%;
}
.Description h1{
  font-size: 50px;
  color: #fdfbfb;
  margin-bottom: 20px;
}
span{
  color: #2844cd;

}
.Description p{
  color: #ffffff;
  line-height: 25px;
  word-spacing: 0.8em;
  margin: auto;
  font-style:unset;
  font-weight:bold;
}
.Description a{
  background: #2844cd;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
.images{
  right: 100px;
  width: 40%;
  height: 90%;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  border-radius: 15px;
}

/* skill */
.skill-container {
  margin-top: 40px;
}
.skill {
  margin-bottom: 10px;
}
.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}
.skill-bar {
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  width: 30%;
}
.skill-level {
  background-color: #2844cd;
  height: 100%;
}
/* //project */
h2{
  margin-top: 10px;
  color: white;
}
h3{
  color:#2844cd;
  font-weight: bolder;
  font-style: italic;
}
.title{
  text-align: center;
}
.title h1{
  font-size: 40px;
  text-decoration: underline #2844cd;
}
.projects{
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  margin-right: 3%;
}
.project-img{
  transition: box-shadow;
  transition: ease-in-out 0.5s;
  width: 400px;
  height: 500px;
  margin: 50px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgb(34, 49, 86);
  padding-top: 140px;
  font-size: 40px;
  text-align: center;
}
.redirect{
  size: small;
}
.project-img:hover{
  box-shadow: 10px 10px 10px rgb(31, 82, 209);
  font-size: 40px;
}
#img-1{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/hero_image.jpg);
  background-position: center;
  background-size:cover ;
}
#img-2{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/bg.png);
  background-position: center;
  background-size:cover ;
}
#img-3{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(slider-1.jpg);
  background-position: center;
  background-size:cover ;
}

.description{
  display: flex;
  padding: 0 20px;
  margin-bottom: 80px;
  justify-content: space-around;
  color: #ffffff;
  line-height: 25px;
  word-spacing: 0.8em;
  margin: auto;
  font-style:unset;
  font-weight:bold;
}
.description1{
  width: 500px;
  height: 200px;
  margin: 0 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(34, 49, 86);
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin-left: 10%;
}
#contact{
  margin-left: 12%;
  margin-top: 8%;
}
.contact-left{
  flex-basis: 35%;
  margin-left: 40px;
}
.contact-right{
  flex-basis: 60%;
  margin-left: 20px;
  left: 100px;
}
.contact-left .title{
font-size: 40px;
text-align: left;
}
.contact-left p{
  margin-top: 30px;
  font-size: 18px;
}
#contact a{
  background: #2844cd;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
#btn{
  background: #2844cd;
  border: none;
  transition: transform 0.5s;
  text-decoration: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 10px 18px;
  margin-top: 10px;
  margin-left: 0;
 position: left;

}
#btn :hover{
  transform: translateY(-5px);
  background-color: #2a3e9f;
}
.contact-right form{
width: 100%;
}
form input,form textarea{
  width: 70%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
 margin: 10px 0;
 color: #ffffff;
 font-size: 18px;
 border-radius: 6px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}